<div class="row">
    <div class="col-md-1">
        <a [routerLink]="['']" href="" class="btn btn-secondary"><i class="fa fa-arrow-circle-o-left"></i> Powrót</a>
    </div>
    <div class="col-md-5">
        <h2> Produkty</h2>
    </div>
    <div class="col-md-4">
      <ng-container *ngIf='isEditMode'>
        <div>
            <input type="text" placeholder="Nazwa produktu" #newProduct (keyup.enter)="saveNewProduct(newProduct.value)">
            <button class="btn btn-success" (click)="saveNewProduct(newProduct.value)">Zapisz</button>
        </div>
      </ng-container>
    </div>
    <div class="col-md-2" *ngIf=!isEditMode>
        <button class="btn btn-success btn-block" (click)="toggleEditMode()"> <i class="fa fa-plus"></i>
            Dodaj
        </button>
    </div>
    <div class="col-md-2" *ngIf=isEditMode>
        <button class="btn btn-danger btn-block" (click)="toggleEditMode()">
            Anuluj
        </button>
    </div>
</div>
<table *ngIf="products?.length > 0; else noProducts" class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>Id Produktu</th>
            <th>Nazwa</th>
            <th>Status</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.product_id}}</td>
            <td>{{product.product_name}}</td>
            <td>{{ product.product_status ? '1' : '0'}}</td>
            <td>
                <button class="btn btn-info btn-sm" (click)="changeProductStatus(product.product_id)">
                <i class="fa fa-arrow-circle-o-right"></i>
                Zmień status
                </button>
            </td>
            <td><button class="btn btn-danger btn-sm" (click)="deleteProduct(product.product_id)">Usuń produkt</button></td>
            <td><a [routerLink]="['/product/'+product.product_id]" href="" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-circle-o-right"></i> Szczegóły</a></td>
        </tr>
    </tbody>
</table>

<ng-template #noProducts>
    <hr>
    <h5>Brak produktów</h5>
</ng-template>
